{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  // "env": {
  //   "webpack-env": {
  //     "plugins": ["@babel/plugin-syntax-dynamic-import"]
  //   },
  //   "development": {
  //     "plugins": ["@babel/plugin-syntax-dynamic-import", "dynamic-import-node"]
  //   }
  // },
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}
